*{
  box-sizing: border-box; /*respect the width of the box, apply padding or border within the width it's been given not in addition to it*/
  max-width:100%; /*Makes it so that elements can never be bigger than their parents, stops the horizontal scroll bar*/
  padding:0;
  margin:0;
  /* border: 1px solid grey; */
}
.App {
  text-align: center;
}

/* Top Section Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
}
h1 {
  color: #f44336;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.6em;
}
.nav {
  display: flex;
}
.link {
  padding: 0.5rem 2.5rem;
  font-size: 0.8em;
  font-family: 'Sniglet', cursive;
}
.help {
  text-decoration: none;
  color: black;
  border: 2px black solid;
}

.home {
  background-color: black;;
  color: white;
  text-decoration: none;
}


/* background-color: #282c34; */